.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/CodeChunks.db
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/CodeChunks.db-shm
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/CodeChunks.db-wal
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/SemanticSymbols.db
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-shm
.vs/KienThucAI/CopilotIndices/17.14.1601.40145/SemanticSymbols.db-wal
.vs/KienThucAI/FileContentIndex/c28042a2-8101-4dec-90aa-907ed857c1f5.vsidx
.vs/KienThucAI/v17/.wsuo
.vs/KienThucAI/FileContentIndex/bbda0c41-24d7-4441-bc86-0858352d38b0.vsidx
.vs/
